body {
    margin: 0;
    padding: 0; 
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
}
    body.dark {
        background: #232323;
        color: #e8e8e8;
    }

    body.light {

    }